<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="USERMSTConnectionString" connectionString="Data Source=(localdb)\MSSqlLocalDb;Initial Catalog=FOODSYSTEM;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
 
</configuration>